.layer {
    background-color: #000000;
    width: 120px;
    margin: 0 auto;
    background-image: url('./img/img.png');
    background-size: contain;
    p {
        line-height: 32px;
        color: #ffffff;
    }
    img {
        max-width: 200px;
    }
}
